<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>

      <add name="master"          connectionString="Server=10.10.1.20;Port=5432;User Id=dbmaster;Password=aimargt;Database=master-aimar;POOLING=True;MINPOOLSIZE=2;MAXPOOLSIZE=1000;CommandTimeout=5000;" />
      <add name="pruebas_master"  connectionString="Server=10.10.1.20;Port=5432;User Id=dbmaster;Password=aimargt;Database=pruebas_master-aimar;POOLING=True;MINPOOLSIZE=2;MAXPOOLSIZE=1000;CommandTimeout=5000;" />
      <add name="bk_master"       connectionString="Server=10.10.1.20;Port=5432;User Id=dbmaster;Password=aimargt;Database=bk_master-aimar;POOLING=True;MINPOOLSIZE=2;MAXPOOLSIZE=1000;CommandTimeout=5000;" />
      <add name="local_master"    connectionString="Server=192.168.56.1;Port=5432;User Id=postgres;Password=adminpass;Database=master-aimar;POOLING=True;MINPOOLSIZE=2;MAXPOOLSIZE=1000;CommandTimeout=5000;" />

      <add name="ventas"          connectionString="Server=10.10.1.20;Port=5432;User Id=dbmaster;Password=aimargt;POOLING=True;MINPOOLSIZE=2;MAXPOOLSIZE=1000;CommandTimeout=5000;Database=" />

      <add name="aereo"           connectionString="SERVER=10.10.1.18;UID=DbAereo;PWD=aereoaimar;DATABASE=db_aereo" />
      <add name="bk_aereo"        connectionString="SERVER=10.10.1.18;UID=DbAereo;PWD=aereoaimar;DATABASE=bk_db_aereo" />
      <add name="pruebas_aereo"   connectionString="SERVER=10.10.1.18;UID=DbAereo;PWD=aereoaimar;DATABASE=pruebas_db_aereo" />
      <add name="local_aereo"     connectionString="SERVER=localhost;UID=root;PWD=123456;DATABASE=db_aereo" />

      <add name="terrestre"         connectionString="SERVER=10.10.1.18;UID=DbTerrestre;PWD=terrestreaimar;DATABASE=db_terrestre" />
      <add name="bk_terrestre"      connectionString="SERVER=10.10.1.18;UID=DbTerrestre;PWD=terrestreaimar;DATABASE=bk_db_terrestre" />
      <add name="pruebas_terrestre" connectionString="SERVER=10.10.1.18;UID=DbTerrestre;PWD=terrestreaimar;DATABASE=pruebas_db_terrestre" />
      <add name="local_terrestre"   connectionString="SERVER=localhost;UID=root;PWD=123456;DATABASE=db_terrestre" />

    </connectionStrings>  
  
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
